[Unit]
Description=Outlets Server
Requires=network-online.target
After=network.target network-online.target multi-user.target

[Service]
WorkingDirectory=/home/pi/outlets
ExecStartPre=/home/pi/outlets/start.sh
ExecStart=/home/pi/outlets/outlets
Restart=always

[Install]
WantedBy=multi-user.target
