/* it worked! */

body {
    background-color: #AC88FF;

}

.OnButton{
        display: inline-block ;
        background-color: white;
        width: 75px;
        height: 75px;
        margin: 20px;
        border: 3px solid black;
        border-radius: 40%;
    }
.OffButton{
        display: inline-block;
        background-color: black;
        width: 75px;
        height: 75px;
        margin: 20px;
        border: 3px solid white;
        color:white;
        border-radius: 40%;
    }
.OnButton:hover{
    background-color: orange;
    border:solid yellow;
    font-style: italic
    
}
.OffButton:hover{
    background-color:navy;
    border:solid purple;
    font-style: italic
}




